doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/img/apple-icon.png')
    link(rel='icon', type='image/png', href='/assets/img/favicon.png')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
      | IMITATEST | RANKING
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no', name='viewport')
    // Fonts and icons
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
    // CSS Files
    link(href='/assets/css/material-kit.css?v=2.0.5', rel='stylesheet')
  body.index-page
    nav#sectionsNav.navbar.navbar-transparent.navbar-color-on-scroll.fixed-top.navbar-expand-lg(color-on-scroll='100')
      .container
        .navbar-translate
          a.navbar-brand(href='/')
            strong IMITATEST
          button.navbar-toggler(type='button', data-toggle='collapse', aria-expanded='false', aria-label='Toggle navigation')
            span.sr-only Toggle navigation
            span.navbar-toggler-icon
            span.navbar-toggler-icon
            span.navbar-toggler-icon
        .collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/problem')
                | PROBLEM
            li.nav-item
              a.nav-link(href='/test')
                | TEST
            li.nav-item
              a.nav-link(href='/rank')
                | RANKING
            li.nav-item
              a.nav-link(href='/curriculum')
                | CURRICULUM
            if context.login
              li.nav-item
                a.nav-link(href='/profile')
                  | PROFILE
              li.nav-item
                a.nav-link(href='/logout')
                  | LOGOUT
            else
              li.nav-item
                a.nav-link(href='/login')
                  | LOGIN
    .page-header.header-filter(data-parallax='true', style="background-image: url('/assets/img/problem_page_library.jpg'); height:300px;")
      .container
        .row
          .col-md-8.ml-auto.mr-auto
            .brand
              h1(style='font-size:50px;') CUSTOM
    .main.main-raised
      .section
        .container
            .row(style="min-height:500px;")
                .col-lg-4
                    -for(var i = 0; i < context.calculus.length; i++){                  
                        .card
                            .card-body
                                h6.card-category.text-danger
                                    i.material-icons functions
                                    |  Calculus
                                h4.card-title
                                    a(href='/problem/#{context.calculus[i]._id}') #{context.calculus[i].title}
                            .card-footer
                                .author
                                    a(href='javascript:void(0)')
                                        img.avatar.img-raised(src='/assets/img/profile.png', alt='...')
                                        span #{context.calculus[i].author.name}
                                .stats.ml-auto
                                    i.material-icons favorite
                                    |  #{context.calculus[i].like_count} ·
                                    i.material-icons battery_charging_full
                                    |  #{context.calculus[i].difficulty.toFixed(1)}
                    -}
                .col-lg-4
                    -for(var i = 0; i < context.geometry_and_vector.length; i++){                  
                        .card
                            .card-body
                                h6.card-category.text-info
                                    i.material-icons directions
                                    |  Geometry and Vector
                                h4.card-title
                                    a(href='/problem/#{context.geometry_and_vector[i]._id}') #{context.geometry_and_vector[i].title}
                            .card-footer
                                .author
                                    a(href='javascript:void(0)')
                                        img.avatar.img-raised(src='/assets/img/profile.png', alt='...')
                                        span #{context.geometry_and_vector[i].author.name}
                                .stats.ml-auto
                                    i.material-icons favorite
                                    |  #{context.geometry_and_vector[i].like_count} ·
                                    i.material-icons battery_charging_full
                                    |  #{context.geometry_and_vector[i].difficulty.toFixed(1)}
                    -}
                .col-lg-4
                    -for(var i = 0; i < context.probability_and_statistic.length; i++){                  
                        .card
                            .card-body
                                h6.card-category.text-success
                                    i.material-icons bar_chart
                                    |  Probability and Statistic
                                h4.card-title
                                    a(href='/problem/#{context.probability_and_statistic[i]._id}') #{context.probability_and_statistic[i].title}
                            .card-footer
                                .author
                                    a(href='javascript:void(0)')
                                        img.avatar.img-raised(src='/assets/img/profile.png', alt='...')
                                        span #{context.probability_and_statistic[i].author.name}
                                .stats.ml-auto
                                    i.material-icons favorite
                                    |  #{context.probability_and_statistic[i].like_count} ·
                                    i.material-icons battery_charging_full
                                    |  #{context.probability_and_statistic[i].difficulty.toFixed(1)}
                    -}
    footer.footer(data-background-color='black')
      .container
        nav.float-left
          ul
            li
              a(href='/')
                | IMITATEST
        .copyright.float-right
          | © IMITATEST
          script.
            document.write(new Date().getFullYear())
          |  All Right Reserved
    // Core JS Files
    script(src='/assets/js/core/jquery.min.js', type='text/javascript')
    script(src='/assets/js/core/popper.min.js', type='text/javascript')
    script(src='/assets/js/core/bootstrap-material-design.min.js', type='text/javascript')
    script(src='/assets/js/plugins/moment.min.js')
    // Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker
    script(src='/assets/js/plugins/bootstrap-datetimepicker.js', type='text/javascript')
    // Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/
    script(src='/assets/js/plugins/nouislider.min.js', type='text/javascript')
    // Control Center for Material Kit: parallax effects, scripts for the example pages etc
    script(src='/assets/js/material-kit.js?v=2.0.5', type='text/javascript')
